.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
}
.content{
    margin-top: 20px;
}
.container{
    padding: 0 15rem;
}

@media (max-width: 768px) {
  .container{
    padding: 0 5rem;
  }
}
@media (max-width: 600px) {
  .container{
    padding: 0 2rem;
  }
}